#LineageMap {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    #title {
        margin-bottom: 20px;
    }

    .expand-collapse-button {
        pointer-events: all;
        z-index: 10; /* Ensure the button is on top */
    }
}